<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955460127665-54mhfuujpmr3b59mqmpm44m7tfopp8om.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955460127665-54mhfuujpmr3b59mqmpm44m7tfopp8om</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>955460127665-6brdoj3j6sqs87ia8lpfi29l6g37s1v9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtpISUwMVgMX_s2OFcXcqyrGZTGifuYac</string>
	<key>GCM_SENDER_ID</key>
	<string>955460127665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.t21.stron</string>
	<key>PROJECT_ID</key>
	<string>stepwarsnew</string>
	<key>STORAGE_BUCKET</key>
	<string>stepwarsnew.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955460127665:ios:5c7748c3802a5e66228b90</string>
	<key>DATABASE_URL</key>
	<string>https://stepwarsnew-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>